<div class="row justify-content-center">
  <div class="col-10">
    <%= render 'shared/errors', obj: @user %>
    <%# Form %>
    <%= form_with(model: @user, url: form_url, local: true) do |form|  %>
      <div class="form-group row mt-4">
        <%= form.label :email, class: "col-2 col-form-label" %>
        <div class="col-10"> 
          <% if @user.errors[:email].blank? %>
            <%= form.email_field :email, class: "form-control shadow rounded" %>
          <% else %>
            <%= form.email_field :email, class: "form-control shadow rounded with-error" %>
          <% end %>
        </div>
      </div>
      <div class="form-group row">
        <%= form.label :username, class: "col-2 col-form-label" %>
        <div class="col-10">
          <% if @user.errors[:username].blank? %>          
            <%= form.text_field :username, class: "form-control shadow rounded" %>
          <% else %>
            <%= form.text_field :username, class: "form-control shadow rounded with-error" %>
          <% end %>
        </div>
      </div>  
      <div class="form-group row">
        <%= form.label :password, class: "col-2 col-form-label" %>
        <div class="col-10"> 
          <% if @user.errors[:password].blank? %>          
            <%= form.password_field :password, class: "form-control shadow rounded" %>
          <% else %>
            <%= form.password_field :password, class: "form-control shadow rounded with-error" %>
          <% end %>          
        </div>
      </div>
      <div class="form-group row">
        <%= form.label "Confirm password", class: "col-2 col-form-label" %>
        <div class="col-10 align-self-center"> 
          <% if @user.errors[:password_confirmation].blank? %>          
            <%= form.password_field :password_confirmation, class: "form-control shadow rounded" %>
          <% else %>
            <%= form.password_field :password_confirmation, class: "form-control shadow rounded with-error" %>
          <% end %>          
        </div>
      </div>
      
      <div class="form-group d-flex justify-content-end">
        <%= form.submit(@user.new_record? ? "Sign up" : "Save", class: "btn btn-outline-dark btn-lg") %>
        <% if @user.new_record? %>  
          <%= link_to 'Back to index', posts_path, class: "btn btn-outline-dark btn-lg ml-3" %>
        <% else %>
          <%= link_to 'Cancel', user_path, class: "btn btn-outline-dark btn-lg ml-3" %>
        <% end %>
      </div>  
    <% end %>
  </div>
  <% unless @user.new_record? %>
    <div class="col col-md-2  border-left border-dark">
      <div class="card">
        <div class="align-self-center p-2">
          <%= link_to 'Delete account', user_path, method: :delete, data: { confirm: "Are you sure? Your account and all posts will be deleted. This is irreversible." }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>