<%# Post actions popover toggler %>
<a tabindex="0" class="btn btn-secondary btn-sm rounded-circle align-self-end" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-source=<%= "popover-#{post.id}" %>>
  <i class="mdi mdi-dots-horizontal text-white"></i>
  <div data-toggle="copy-tooltip" id=<%= "copy-#{post.id}" %>></div>
</a>

<%# Post popover content %>
<%# TODO: Add more integrated social media sharing %>
<%= content_tag :div, class: "d-none popover-content text-center", id: "popover-#{post.id}" do %>
  <%= button_tag '', class: "btn btn-secondary btn-sm rounded-circle mb-1", title: "Copy Link", data: { copy_text: post_url(post), target: "copy-#{post.id}" } do %>
    <%= content_tag :i, "", class: "mdi mdi-share" %>
  <% end %>
  <% if has_view %>
    <%= link_to post_path(post), class: "btn btn-secondary btn-sm rounded-circle mb-1", title: "View" do %>
      <%= content_tag :i, "", class: "mdi mdi-eye" %>
    <% end %>
  <% end %>
  <% if logged_in? && (post.user == current_user || current_user.is_admin?) %>
    <%= link_to edit_post_path(post), class: "btn btn-secondary btn-sm rounded-circle mb-1", title: "Edit" do %>
      <%= content_tag :i, "", class: "mdi mdi-pencil" %>
    <% end %>
    <%= link_to post_path(post) + (params[:controller] == "users" ? "?user=true" : "" ), method: :delete, data: { confirm: "Confirm deleting this post?" }, class: "btn btn-danger btn-sm rounded-circle", title: "Delete" do %>
      <%= content_tag :i, "", class: "mdi mdi-trash-can" %>
    <% end %>
  <% end %>
<% end %>