<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<% end %>

<div class="row justify-content-between my-2">
  <%# TODO: Remove section & shift button to create post %>
  <div class="col-4">    
    <h1 class="">All Posts</h1>
  </div>
  <div class="col-4 text-right">
    <%= link_to 'Create new post', new_post_path, class: "btn btn-outline-dark btn-lg" if logged_in? %>
  </div>
</div>
<% if @featured_posts %>
  <%= render 'posts_featured', obj: @featured_posts %>
<% end %>
<div class="row justify-content-center">
  <div class="d-flex flex-column col-11">
    <div class="align-self-center">
      <%= paginate @posts %>
    </div>
    <%= render 'shared/posts_list', obj: @posts %>    
    <div class="align-self-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>