<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<% end %>

<%# TODO: Rework post show layout  %>
<div class="row">
  <div class="col">
    <h1 class="text-center mt-4"><%= @post.title %></h1>
    <%# TODO: Fix time posted for timezone %>
    <div class="text-muted text-center">
      <%= link_to @post.user.username, user_path(@post.user), class: "link border-right border-secondary p-1" %>
      <% if @post.created_at == @post.updated_at %>
        <%= @post.created_at.strftime("%m/%d/%Y at %I:%M %p") %>
      <% else %>
        <%= @post.created_at.strftime("%m/%d/%Y at %I:%M %p, ") %>
        <%= @post.updated_at.strftime("edited %m/%d/%Y") %>
      <% end %>
    </div>    
    <div class="card shadow p-0 mt-4">
      <%# Carousel %>
      <%# TODO: Add uploaded images to carousel %>
      <div id="post-carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#post-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#post-carousel" data-slide-to="1"></li>
          <li data-target="#post-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block mx-auto" src="https://picsum.photos/480/480" alt="">
          </div>
          <div class="carousel-item">
            <img class="d-block mx-auto" src="https://picsum.photos/480/480" alt="">
          </div>
          <div class="carousel-item">
            <img class="d-block mx-auto" src="https://picsum.photos/480/480" alt="">
          </div>
          <a class="carousel-control-prev" href="#post-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#post-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    
      <%# Card body %>
      <div class="card-body">
        <div class="card-text"> <%= simple_format(@post.description) %> </div>
      </div>
      <div class="card-body row px-0 mx-0">
        <div class="col text-left">
          <% @post.categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: "badge badge-pill badge-secondary" %>
          <% end %>
        </div>      
        <div class="col-2 text-right">
          <%= render 'shared/post_actions', post: @post, has_view: false %>
        </div>
      </div>
    </div>
  </div>
</div>