<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<% end %>

<h1 class="text-center mt-2">Category: <%= @category.name %></h1>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="row mx-0">
      <%= paginate @posts %>
      <% if logged_in? && current_user.is_admin? %>
        <%= link_to "Edit Category", edit_category_path, class: "btn btn-secondary align-self-start ml-auto mb-2" %>
      <% end %>
    </div>
    <%= render 'shared/posts_list', obj: @posts %>    
    <%= paginate @posts %>
  </div>
</div>