<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<% end %>

<h1 class="text-center mt-2">
  Category: <%= @category.name %> <%= render 'category_actions' %>
</h1>
<div class="row justify-content-center">
  <div class="d-flex flex-column col-11 align-items-center">
    <%= paginate @posts %>
    <%= render 'shared/posts_list', obj: @posts %>
    <%= paginate @posts %>
  </div>
</div>