<nav class="navbar navbar-expand-lg navbar-dark bg-aux">
  <%= link_to "Choco Blog", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Posts",  posts_path, class: "nav-link nav-link-color"%>
      </li>
      <li class="nav-item">
        <%= link_to "About", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Choco Map", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tasting Wheel", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>